<header>
  <div class="main-header">
    <div class="heading">
      <h1 class="title">賞味期限管理アプリ</h1>
    </div>
    <div class="side-bar">
      <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "商品名を入力", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
      <div class="language">
        <p>言語</p>
      </div>
      <% if user_signed_in? %>
      <%# ログイン状態 %>
        <div class="item-tuika">
          <%= link_to "商品を追加する", new_item_path %>
        </div>
        <div class="logout">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
      <%# 未ログイン状態 %>
        <div class="new-entry">
          <%= link_to "新規登録", new_user_registration_path %>
        </div>
        <div class="login">
          <%= link_to "ログイン", new_user_session_path %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="header-view"></div>
</header>
<main>
  <div class="title-bar">
    <div class="items-title">
      <div>
        <p class="name-title">商品名</p>
        <p class="buy-title">購入日</p>
      </div>
      <p class="text-title">ひと言メモ</p>
    </div>
    <div class="limit-title">期限まであと</div>
    <div class="status-title">状態</div>
  </div>
  <%# ここから一覧表示部分 %>
  <div class="main-contents">
    <% @items.each do |item| %>
      <div class="items-lists">
        <div class="item-list">
          <div>
            <P class="item-name"><%= link_to item.name, edit_item_path(item.id) %></p>
            <p class="buy-date"><%= "購入日:#{item.buy_date}" %></p>
          </div>
          <p class="text"><%= item.text %></p>
        </div>
        <div class="limit-date"><%= "#{(item.limit_date - Date.today).to_i}日" %></div>
        <div class="status">良好！</div>
      </div>
    <% end %>
  </div>
  <%# ここまで一覧表示部分 %>
</main>
<footer>
</footer>