<div class="container">
  <%= form_with(model: @item, local: true) do |f| %>
    <h1 class="form-title">商品登録</h1>

    <%# 商品名入力欄 %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">商品名</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :name, placeholder: "商品名" %>
    </div>
    <%# 商品名入力欄 %>

    <%# 購入日入力 %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">購入日</label>
        <span class="indispensable">必須</span>
      </div>
      <div class='date-form'>
        <%= raw sprintf(
          f.date_select(
            :buy_date,
            class:'select-date',
            id:"buy_date",
            use_month_numbers: true,
            prompt:'--',
            start_year: 2020,
            end_year: (Time.now.year - 5),
            date_separator: '%s'),
          "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    </div>
      <%# 購入日入力 %>

      <%# 賞味期限入力 %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">賞味(消費)期限</label>
        <span class="indispensable">必須</span>
      </div>
      <div class='date-form'>
        <%= raw sprintf(
          f.date_select(
            :limit_date,
            class:'select-date',
            id:"limit_date",
            use_month_numbers: true,
            prompt:'--',
            start_year: 2020,
            end_year: (Time.now.year + 5),
            date_separator: '%s'),
          "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    </div>
      <%# 賞味期限入力 %>

      <%# 一言メモ入力欄 %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">一言メモ</label>
        <span>(任意)</span>
      </div>
      <%= f.text_area :text, placeholder: "一言メモ", rows: "10" %>
    </div>
      <%# 一言メモ入力欄 %>

      <%# 登録ボタン %>
      <div class="send">
        <%= f.submit "登録する" %>
      </div>
      <%# 登録ボタン %>
  <% end %>
</div>